@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{ 
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
}


header{

    position: sticky;
    top: 0;
    
 
}


.Section1{
    background-color: #ffff;
    height: 3em;
    max-width: 100%;
    
}

.Sect1-Header{
   display: flex;
   justify-content: center;;
   padding-top: 8px;
   gap: 7%;
}

.name-web{
    padding-top: 0.3em;
    font-family: "poppins", sans-serif;

   
}

.name-web a {
    text-decoration: none;

}
.header_search_box{
    display: flex;

}

.header_search_box  , input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

    
    
}

.header_search_box {
  
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 0.3em;
    width: 15em;
    height: 1.5em;
    
}

.Sect1-navlinks >i , a{
    padding: 4px;
    font-size: 1em;
    color: black;
    cursor: pointer;
}

.Sect1-navlinks {
    margin-top: 0.24em;
    font-size: 1.2em;
    
    
}








.Section-2{
    margin-top: 2em;
    margin-bottom: 19em;
}
.Section-2{
    display: flex;
    justify-content: center;
}

.sect2-card{
    margin: 2;
    background-color: white;
    width: 50em;
    height: 10em;
    text-align: center;
    padding-top: 2em;
    border-radius: 0.5em;
    gap: 1em;
}


#custom-button {
    padding: 10px;
    color: white;
    background-color: #2b52ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 1.5em;
  }
  
  #custom-button:hover {
      background-color: #0027d6d2;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }





  

/* ################## footer section #################*/
.Section-5{
    max-width: 100%;
    font-size: 1vw;
}

.Footer-sect5 {
    text-align: center;
    padding-bottom: 2em;
    text-decoration: none;
 
}
.Footer-sect5 > li , a {
    font-weight: "Poppins", sansserif;
    text-decoration: none;
}


.sect5-layer3{
    display: flex;
    justify-content: center;
    gap: 5px;
}
